<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    
    <form action="/" method="PUT">
    <input type="text" name="title" placeholder="Title" class="title-input">
            <br>
            <input type="text" name="blog" placeholder="Blog" class="text-input">
            <input type="submit" value="Post" class="sub-button">
</form>

</body>
</html>

